<div class="head">
    <h4>Company Metrics</h4>
    <br>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">$64492</h5>
                  <br>
                  <p class="card-text">Total Revenue</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">$608</h5>
                  <br>
                  <p class="card-text">Total Jobs Avg</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">106</h5>
                  <br>
                  <p class="card-text">Tickets Created</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">66</h5>
                  <br>
                  <p class="card-text">Tickets Scheduled</p>
                </div>
              </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">$19,304.52</h5>
                  <br>
                  <p class="card-text">Outstanding Amount</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">0</h5>
                  <br>
                  <p class="card-text">Membership Sold</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">8</h5>
                  <br>
                  <p class="card-text">Jobs Completed</p>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">2</h5>
                  <br>
                  <p class="card-text">Total Canceled</p>
                </div>
              </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>   
    </div>
    <div class="col-6">
        <canvasjs-chart [options]="chartOptions2" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>   
    </div>
</div>     